<html style=" height: 100%;">

<head>
    <title>Sessions</title>
    <style type="text/css">
        @font-face {
            font-family: 'GothamBook';
            src: url('fonts/Gotham-Book.eot');
            src: url('fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'), url('fonts/Gotham-Book.woff2') format('woff2'), url('fonts/Gotham-Book.woff') format('woff'), url('fonts/Gotham-Book.ttf') format('truetype'), url('fonts/Gotham-Book.svg#Gotham-Book') format('svg');
            font-weight: normal;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'GothamMedium';
            src: url('fonts/Gotham-Medium.eot');
            src: url('fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), url('fonts/Gotham-Medium.woff2') format('woff2'), url('fonts/Gotham-Medium.woff') format('woff'), url('fonts/Gotham-Medium.ttf') format('truetype'), url('fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
            font-weight: 500;
            font-style: normal;
            font-display: swap;
        }

        body {
            font-family: 'GothamBook';
            font-size: 14px;
            color: #333;
        }
    </style>
</head>

<body style="font-family: Arial, Helvetica, sans-serif; color:#393939; padding:0 !important; margin:0 !important; display:block !important; min-width:100% !important; width:100% !important; background:#054752; -webkit-text-size-adjust:none;">
    <table class="main-tbl" align="center" width="600" border="0" cellspacing="0" cellpadding="0"
           style="width:600px; margin-top:0; margin-bottom:0; margin-left:auto; margin-right: auto;">
        <tr>
            <td class="top-btm-space" valign="top" height="50" style="height: 50px;">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td align="center" style="padding-top: 60px; padding-bottom: 40px; padding-left: 10px; padding-right: 10px;">
                <img src="{{logo}}">
            </td>
        </tr>
        <tr>
            <td align="center" style="background-color: #ffffff;padding-top: 30px;padding-left: 10px;padding-right: 10px;padding-bottom: 20px;border-radius: 6px;">
                <img src="{{newsletter}}" style="max-width: 100%; height: auto; display: block;">
            </td>
        </tr>
        <tr>
            <td valign="top">
                <!-- Main -->
                <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td valign="top" style="background-color: #ffffff;">
                            <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">

                                <tr>
                                    <td class="lft-rt-space" valign="top" width="50" style="width:50px;">
                                        &nbsp;
                                    </td>
                                    <td valign="top">
                                        <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td valign="top" height="28" style="height:28px">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top"
                                                    style="font-family: Arial, Helvetica, sans-serif; font-size: 30px; color:#4FA3AD;">
                                                    Hey <strong>{{FirstName}}  {{LastName}}</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top" height="10" style="height:10px">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 18px;">
                                                    I’m Daryl Schwartz, the founder of <b style="color:#4FA3AD;">
                                                        Session
                                                    </b> and I’d like to personally thank
                                                    you for signing up to our site.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="height: 12px; line-height: 12px;" height="12">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 17px; color:#054752;">
                                                    Your company name: {{CompanyName}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="height: 20px; line-height: 20px;" height="20">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top"
                                                    style="font-family: Arial, Helvetica, sans-serif; font-size: 17px; font-weight:bold; color:#393939;">
                                                    Login Credential
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top" height="8" style="height:8px; line-height: 8px;">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top"
                                                    style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; color:#393939;">
                                                    UserName: <span>{{Username}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top" height="5" style="height:5px; line-height: 5px;">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top"
                                                    style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; color:#393939;">
                                                    UserName: <span>{{Password}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top" height="20" style="height:20px">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top"
                                                    style="font-family: Arial, Helvetica, sans-serif; font-size: 17px; font-weight:bold; color:#393939;">
                                                    Benefits for joining session
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top" height="8" style="height:8px; line-height: 8px;">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table align="center" width="100%" border="0" cellspacing="0"
                                                           cellpadding="0">
                                                        <tr>
                                                            <td>
                                                                1.
                                                            </td>
                                                            <td>
                                                                Lorem Ipsum is simply dummy text of the printing
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2" valign="top" height="8px"
                                                                style="height:8px; line-height: 8px;">
                                                                &nbsp;
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                2.
                                                            </td>
                                                            <td>
                                                                Lorem Ipsum is simply dummy text of the printing
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2" valign="top" height="8px"
                                                                style="height:8px; line-height: 8px;">
                                                                &nbsp;
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                3.
                                                            </td>
                                                            <td>
                                                                Lorem Ipsum is simply dummy text of the printing
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2" valign="top" height="8px"
                                                                style="height:8px; line-height: 8px;">
                                                                &nbsp;
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                4.
                                                            </td>
                                                            <td>
                                                                Lorem Ipsum is simply dummy text of the printing
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2" valign="top" height="20px"
                                                                style="height:20px; line-height: 20px;">
                                                                &nbsp;
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2" style="text-align: left;">
                                                                <a href="{{Login}}" style="text-decoration: none;
                                                                                display: inline-block;
                                                                                background: #4fa3ad;
                                                                                padding: 10px 55px;
                                                                                font-size: 20px;
                                                                                font-weight: bold;
                                                                                color: #fff;">
                                                                    Login
                                                                </a>
                                                            </td>
                                                        </tr>

                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" valign="top" height="20px"
                                                    style="height:20px; line-height: 20px;">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 17px;">
                                                    Thanks
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 17px;">
                                                    Team Session
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top" height="20" style="height:28px">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td class="lft-rt-space" valign="top" width="50" style="width:50px;">
                                        &nbsp;
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <!-- END Main -->
            </td>
        </tr>
        <tr>
            <td class="top-btm-space" valign="top" height="50" style="height: 50px;">
                &nbsp;
            </td>
        </tr>
    </table>
</body>

</html>